.preloader{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 100;
	background-color: white;
}

.preloader img{
	height: 100px;
	width: 100px;
}